html, body {
  height: 100%;
  width: 100%;
}

body{
  margin-top:140px;
}

#gate {
  cursor: pointer;
  margin-bottom: 100px;
  width: 200px;
  height: 150px;
}

#ball {
  cursor: pointer;
  width: 80px;
  height: 80px;
}
                                                
